/*eventsnew */
.rowevent {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #F5F8F9;
}

.col {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	padding: 1em;
}

.col h2 {
	margin-top: 0;
	line-height: 1em;
}

.event img {
	width: 100%;
}

.eventdesc {
	padding-left: 15px;
	padding-right: 15px;
}

.readmore {
	text-align: right;
	color: #FBE321;
}

.readmore a {
	color: #FBE321;
}

/*eventsnew */

/*movie premieres  new*/
.rowmovie {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #F5F8F9;
}

.movie img {
	width: 40%;
	display: block;
	margin: 0 auto;
}

.moviedesc {
	padding-left: 15px;
	padding-right: 15px;
}

/*movie premieres new */

/*special new*/
.rowspecials {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #F5F8F9;
}

.colone {
	display: table-cell;
	width: 20%;
	vertical-align: top;
	padding: 1em;
}

.coltwo {
	display: table-cell;
	width: 35%;
	vertical-align: top;
	padding: 1em;
}

.colthree {
	display: table-cell;
	width: 45%;
	vertical-align: top;
	padding: 1em;
}

.specialofferlogo img {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.specialofferlandscape img {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.specialofferportrait img {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	max-height: 280px;
}

.specialofferdesc {
	padding-left: 15px;
	padding-right: 15px;
}

#partners-dialog {
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	min-height: 180px;
}

/* .b-close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
} */
.rowvoucher {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #F5F8F9;
}

.voucher img {
	width: 100%;
}

.voucherdesc {
	padding-left: 15px;
	padding-right: 15px;
}

.b-close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
	background: url(../images/vote_close.png) no-repeat left top;
	width: 32px;
	height: 32px;
	position: absolute;
	right: -16px;
	top: -16px;
}

#partners-dialog1, #partners-dialog2, #partners-dialog3,
	#partners-dialog4, #partners-dialog5, #partners-dialog6 {
	background: #0865AA;
	border-radius: 15px;
	color: #ffffff;
	display: none;
	padding: 20px;
	min-width: 400px;
	min-height: 180px;
}

.ad-popup {
	background: transparent;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	width: 540px;
	height: 500px;
}

.ad-popup2 {
	background: transparent;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	width: 580px;
	height: 500px;
}


.career-popup{
	background: #0865AA;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	width: 815px;
	height: 680px;
}

.career-popup p{
	color: #ffffff !important;
}


.career-popup ul{
	color: #ffffff !important;
}

.event-popup{
	background: #0865AA;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	width: 700px;
	height: 500px;
}

.event-popup p{
	color: #ffffff !important;
}


.event-popup ul{
	color: #ffffff !important;
}

.career-title{
	border-bottom: 1px solid #ffffff;
}

.job-text{
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
}

.faq-question {
	font: inherit;
	font-weight: bold; 
	font-size: 17px;
}

.faq-response {
	font: inherit;
	margin-left: 18px; 
	margin-right: 15px; 
	font-size: 15px; 
	line-height: 18px;
}

ul.advertiseList {
    width: 100%;
} 

ul.advertiseList li{
    float:left;
    /*height:100px;*/
    /*margin:0 10px 10px 0;*/
    width: 50%;
}

ul.advertiseList li:nth-child(even){
    margin-right:0;
}

.ui-tab-wrapper .tabs {
	padding-right: 0;
	margin-right: 0;
}
